<p-panel>
    <p-header>
        <div class="p-grid">
            <div class="p-col-12">
                <div style="float: left;font-weight: bold;font-size: large;">
                    <a>BASE PROJECT FRONT</a>
                </div>
                <div style="float: right">
                    <a href="http://localhost:8080/h2-console" target="_blank"><button pButton label="H2 CONSOLE"
                            style="margin-left:.25em"></button></a>
                    <button pButton label="REGISTER" (click)="openCreateForm()" style="margin-left:.25em"></button>
                </div>
            </div>

        </div>
    </p-header>
    <p-fieldset legend="LOGIN">
        <p-messages [(value)]="msgs"></p-messages>
        <form [formGroup]="formLogin" (ngSubmit)="loginPerfom()" novalidate>

            <br>
            <span class="ui-inputgroup">
                <input type="text" size="30" pInputText placeholder="Username" formControlName="username">&nbsp;
                <p-message severity="error" text="Username is required"
                    *ngIf="!formLogin.controls['username'].valid&&formLogin.controls['username'].dirty"></p-message>
            </span>
            <br>
            <span class="ui-inputgroup">
                <input type="password" pPassword size="30" [feedback]="false" formControlName="password">&nbsp;
                <p-message severity="error" text="Password is required"
                    *ngIf="!formLogin.controls['password'].valid&&formLogin.controls['password'].dirty"></p-message>
            </span>
            <br>
            <button pButton type="submit" label="Login" [disabled]="!formLogin.valid"></button>
            &nbsp;
            <a (click)="openRecoveryModal()">forgot your password?</a>

        </form>
    </p-fieldset>
</p-panel>

<p-dialog header="REGISTER" [(visible)]="userFormView" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="formUser" (ngSubmit)="save()" novalidate *ngIf="userFormView">
        <div class="p-grid">
            <div class="p-col-12">
                <label><b>NAME</b></label>
            </div>
            <div class="p-col-12">
                <input type="text" size="60" pInputText formControlName="name" placeholder="name" style="width: 100%">
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <label><b>USERNAME</b></label>
            </div>
            <div class="p-col-12">
                <input type="text" size="60" pInputText formControlName="username" placeholder="username"
                    style="width: 100%">
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <label><b>EMAIL</b></label>
            </div>
            <div class="p-col-12">
                <input type="text" size="60" pInputText formControlName="email" placeholder="email" style="width: 100%">
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <label><b>PASSWORD</b></label>
            </div>
            <div class="p-col-12">
                <input type="password" size="60" pInputText formControlName="password" placeholder="password"
                    style="width: 100%">
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-6">
                <button style="width: 100%" [disabled]="!formUser.valid" pButton type="submit" label="SAVE"></button>
            </div>
            <div class="p-col-6">
                <button style="width: 100%" pButton type="button" label="CANCEL" (click)="closeForm()"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="RECOVER PASSWORD" [(visible)]="recoverPasswordView" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="formPwd" (ngSubmit)="recover()" novalidate >
        <div class="p-grid">

            <div class="p-grid" style="padding-top: 10px" >
                <div class="p-col-12">
                    <label><b>Enter your registered email:</b></label>
                </div>
                <div class="p-col-12">
                    <input type="text" size="60" pInputText formControlName="email" placeholder="email"
                        style="width: 100%">
                </div>
                <div class="p-col-6">
                    <button style="width: 100%" [disabled]="!formPwd.valid" pButton type="submit"
                        label="SEND"></button>
                </div>
                <div class="p-col-6">
                    <button style="width: 100%" pButton type="button" label="CANCEL" (click)="closeFormPwd()"></button>
                </div>
            </div>
        </div>
    </form>
</p-dialog>