<div class="p-grid">

    <div class="p-col-12" style="background: #004077">
        <img src="assets/logo.png">
        <div style="padding: 10px;float: right;">
            <button pButton label="REGISTER" (click)="openCreateForm()"></button>
        </div>
    </div>

    <div class="p-col-12" style="background:whitesmoke; min-height: 1000px; ">
        <br><br>

        <div class="center-login">
            <p-panel>
                <p-header>
                    <b>LOGIN</b>
                </p-header>
                <p-messages [(value)]="msgs"></p-messages>
                <form [formGroup]="formLogin" (ngSubmit)="loginPerfom()" novalidate>
                    <br>
                    <input style="width: 100%" type="text" size="30" pInputText placeholder="username"
                        formControlName="username">&nbsp;
                    <br><br>
                    <input style="width: 100%" type="password" pPassword size="30" [feedback]="false"
                        placeholder="password" formControlName="password">&nbsp;
                    <br><br>
                    <button style="width: 50%" pButton type="submit" label="SUBMIT"
                        [disabled]="!formLogin.valid"></button>
                    &nbsp;
                    <a style="float: right; color: #551A8B;" (click)="openRecoveryModal()">forgot your password?</a>
                </form>
            </p-panel>
        </div>

    </div>
</div>




<p-dialog header="RECOVER PASSWORD" [(visible)]="recoverPasswordView" [responsive]="true" showEffect="fade"
    [modal]="true">
    <form [formGroup]="formPwd" (ngSubmit)="recover()" novalidate>
        <div class="p-grid">

            <div class="p-grid" style="padding-top: 10px">
                <div class="p-col-12">
                    <label><b>Enter your registered email:</b></label>
                </div>
                <div class="p-col-12">
                    <input type="text" size="60" pInputText formControlName="email" placeholder="email"
                        style="width: 100%">
                </div>
                <div class="p-col-6">
                    <button style="width: 100%" [disabled]="!formPwd.valid" pButton type="submit"
                        label="SUBMIT"></button>
                </div>
                <div class="p-col-6">
                    <button style="width: 100%" pButton type="button" label="CANCEL" (click)="closeFormPwd()"></button>
                </div>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="REGISTER" [(visible)]="userFormView" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="formUser" (ngSubmit)="save()" novalidate *ngIf="userFormView">
        <div class="p-grid">
            <div class="p-col-12">
                <label><b>NAME</b></label>
            </div>
            <div class="p-col-12">
                <input type="text" size="60" pInputText formControlName="name" placeholder="name" style="width: 100%">
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <label><b>USERNAME</b></label>
            </div>
            <div class="p-col-12">
                <input type="text" size="60" pInputText formControlName="username" placeholder="username"
                    style="width: 100%">
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <label><b>EMAIL</b></label>
            </div>
            <div class="p-col-12">
                <input type="text" size="60" pInputText formControlName="email" placeholder="email" style="width: 100%">
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <label><b>PASSWORD</b></label>
            </div>
            <div class="p-col-12">
                <input type="password" size="60" pInputText formControlName="password" placeholder="password"
                    style="width: 100%">
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-6">
                <button style="width: 100%" [disabled]="!formUser.valid" pButton type="submit" label="SAVE"></button>
            </div>
            <div class="p-col-6">
                <button style="width: 100%" pButton type="button" label="CANCEL" (click)="closeForm()"></button>
            </div>
        </div>
    </form>
</p-dialog>