<div class="p-grid" style="background:whitesmoke;">

  <div class="p-col-12" style="background: #004077">

    <div class="p-grid">

      <div class="p-col-10" style="background: #004077">
        <img src="assets/logo.png">
      </div>

      <div class="p-col-2">
        <br>

        <button pButton label="USER" (click)="account()"></button>
        &nbsp;&nbsp;

        <button pButton label="LOGOUT" (click)="logout()"></button>
        
      </div>

    </div>

  </div>

  <div class="p-col-2" style="padding-top: 18px;">
    <p-panelMenu [model]="items" [style]="{'width':'100%'}" [multiple]="false"></p-panelMenu>
  </div>

  <div class="p-col-10">
    <div class="div-content" style="min-height: 1000px; ">
      <p-toast position="top-center"></p-toast>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>